body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mainWetherDiv {
  width: 100%;
  height: 100px;
  margin-top: 50px;
  background-color: #bbb;
  display: flex;
  justify-content: space-between;
}

.wetherLooks{
  height: 500px;
  width: 300px;
  background: darkred;
  justify-content: space-around;
}
.wether{
  width: 200px;
  height: calc(500px/3);
  border-width: 1px;
  border-color: black;
  border-radius: 2px;
  border-style: solid;
}